<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<title>news</title>
	<style>
	</style>
</head>
	
<body>

	<div class="container">
		<h1 th:text="${title}"/>
		<h2 th:text="${text}"/>
		<a href="index.html">Accueil</a>
	</div>
	
</body>