<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<title>news</title>
	<style>
	</style>
</head>
	
<body>

	<div class="container">
		<a href="index.html">Accueil</a>
		
		<table class="table">
			<tr th:each="h:${l}">
				<td th:text="${h.outshore}">
				<td th:text="${h.model}">
				<td th:text="${h.registration}">
			</tr>
		</table>
		
	</div>
	
	
	
</body>